@import './../../../../styles/colors.scss';
@import './../../../../styles/mixins.scss';

.category-container {
    height: 168px;
    @include display-flex(column, unset, unset, 5px);

    span {
        font-size: 20px;
        line-height: 24px;
    }

    textarea {
        max-width: 440px;
        width: 100%;
        border: 1px solid #D1D1D1;
        border-radius: 10px;
        padding: 12px 21px;
        font-size: 20px;
        line-height: 24px;
        min-height: 120px;
        outline: none;

        &:hover {
            border-color: #A9A9A9;
        }

        &::placeholder {
            color: #D1D1D1;
        }

        &:focus {
            border: 1px solid $effect-color;
        }
    }
}

@media(max-width: 1400px) {
    .category-container {

        textarea {
            width: 350px;
        }
    }
}

@media(max-width: 1080px) {
    .category-container {

        textarea {
            max-width: unset;
            width: unset;
        }
    }
}