<div class="board-container">
    <div class="top-container">
        <h2 class="item1">Board</h2>
        <app-search-add-task></app-search-add-task>
    </div>
    <app-drag-and-drop></app-drag-and-drop>
</div>
@if(boardService.showBigCardTask) {
<app-big-card-task></app-big-card-task>
}
@if (boardService.showAddTask) {
<div (click)="boardService.toggleShowAddTask()" class="hidden-container show-hidden-container">
    <div (click)="$event.stopPropagation()" class="board-add-task-container show-animation">
        <app-add-task></app-add-task>
    </div>
</div>
}