@import './../../../styles/colors.scss';
@import './../../../styles/mixins.scss';


.board-container {
    height: 100%;
    padding: 110px 90px 0px 60px;
    @include display-flex(column, unset, unset, unset);

    .top-container {
        @include display-flex(unset, space-between, center, unset);
        padding-bottom: 55px;
        position: relative;

        h2 {
            font-weight: 700;
            font-size: 61px;
            line-height: 73.2px;
        }
    }
}

app-drag-and-drop {
    height: 100%;
    overflow: hidden;
}

.board-add-task-container {
    border: unset;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    background-color: white;
}

.show-animation {
    animation: slideFromRightToLeft 0.5s ease-out forwards;
}

@media(max-width: 1250px) {
    .board-container {
        padding-right: 50px;
        padding-left: 50px;
    }
}

@media(max-width: 800px) {
    .board-container {
        padding: 20px;

        .top-container {
            margin-bottom: 55px;
        }
    }
}

@media(max-width: 350px) {
    .board-container {
        padding: 10px;
    }
}

@media(min-width: 1000px) and (max-height: 750px) {
    .board-container {
        padding-top: 10px;

        .top-container {
            padding-bottom: 10px;
        }
    }
}