@import './colors.scss';
@import './fonts.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Inter';
}

.error-message {
    font-size: 13px;
    line-height: 15.6px;
    color: $error-color;
}

@keyframes slideFromBottomToCenter {
    from {
        transform: translateY(100vh);
    }

    to {
        transform: translateY(0);
    }
}