@import './colors.scss';
@import './fonts.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Inter';
}

.error-message {
    font-size: 13px;
    line-height: 15.6px;
    color: $error-color;
}

.d-none {
    display: none;
}

@keyframes slideFromBottomToCenter {
    from {
        transform: translateY(100vh);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes moveAndShrinkFromCenterToTopLeft {
    0% {
        width: 274px;
        height: 334px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    100% {
        width: 100px;
        height: 122px;
        top: 100px;
        left: 100px;
        transform: translate(0, 0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}