@import './colors.scss';
@import './fonts.scss';
@import './mixins.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Inter';
}

.error-message {
    font-size: 13px;
    line-height: 15.6px;
    color: $error-color;
}

.hidden-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    @include display-flex(unset, center, center, unset);
}

.show-hidden-container {
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 9999 !important;
}

.d-none {
    display: none;
}

@keyframes slideFromBottomToCenter {
    from {
        transform: translateY(100vh);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slideFromBottomToCenterTask {
    from {
        top: 100%;
        transform: translate(-50%);
    }

    to {
        top: calc(50% - 74px);
        transform: translate(-50%);
    }
}

@keyframes slideFromRightToLeft {
    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideFromLeftToRight {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100vw);
    }
}

@keyframes moveAndShrinkFromCenterToTopLeft {
    100% {
        width: 100px;
        height: 122px;
        top: 100px;
        left: 100px;
        transform: translate(0, 0);
    }
}

@keyframes moveAndShrinkFromCenterToTopLeftMobile {
    100% {
        width: 64px;
        height: 78px;
        top: 100px;
        left: calc(264px / 1440px * 100%);
        right: calc(1176px / 1440px * 100%);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeBackground {
    0% {
        background-color: $primary-color;
    }

    100% {
        background-color: #F6F7F8;
    }
}

@keyframes fadeIcon {
    0% {
        fill: white;
    }

    100% {
        fill: #2A3647;
    }
}

@media(max-width: 600px) {
    @keyframes moveAndShrinkFromCenterToTopLeftMobile {
        100% {
            width: 64px;
            height: 78px;
            top: 100px;
            left: calc(164px / 1440px * 100%);
            right: calc(1276px / 1440px * 100%);
        }
    }
}

@media(max-width: 1024px) and (max-height: 740px) {
    @keyframes moveAndShrinkFromCenterToTopLeftMobile {
        100% {
            width: 64px;
            height: 78px;
            top: 0;
            left: calc(64px / 1440px * 100%);
            right: calc(1376px / 1440px * 100%);
        }
    }
}