@import './../../../styles/colors.scss';
@import './../../../styles/mixins.scss';

.signup-button-container {
    height: 49px;
    @include display-flex(unset, unset, center, 35px);

    span {
        font-size: 20px;
        line-height: 24px;
    }

    button {
        background-color: $primary-color;
        color: $secondary-color;
        font-weight: 700;
        font-size: 16px;
        line-height: 19.2px;
        padding: 15px 16px;
        border-radius: 8px;
        border: unset;
        cursor: pointer;

        &:hover {
            background-color: $effect-color;
            box-shadow: 0px 4px 4px 0px #00000040;
        }
    }
}

.start-fade-in-animation {
    opacity: 1;
}

.fade-in-animation {
    opacity: 0;
    animation: fadeIn 0.4s ease-in 1s forwards;
}

@media(max-width: 700px) {
    .signup-button-container {
        padding-top: 20px;
    }
}

@media(max-width: 400px) {
    .signup-button-container {

        span {
            font-size: 13px;
        }

        button {
            font-size: 13px;
        }
    }
}