<div class="summary-container">
    <div class="left-container">
        @if(firebaseDatabaseService.taskList){
        <div class="top-container">
            <h2>Join 360</h2>
            <div class="line-container"></div>
            <span>Key Metrics at a Glance</span>
            <div class="line-container-mobile"></div>
        </div>
        <div class="bottom-container">
            <div class="first-container">
                <app-to-do-and-done [taskStatus]="'To-do'"></app-to-do-and-done>
                <app-to-do-and-done [taskStatus]="'Done'"></app-to-do-and-done>
            </div>
            <app-urgent></app-urgent>
            <div class="third-container">
                <app-tasks-board-in-progress-await-feedback
                    [taskStatus]="'Task in<br>Board'"></app-tasks-board-in-progress-await-feedback>
                <app-tasks-board-in-progress-await-feedback
                    [taskStatus]="'Task in<br>Progreess'"></app-tasks-board-in-progress-await-feedback>
                <app-tasks-board-in-progress-await-feedback
                    [taskStatus]="'Awaiting<br>Feedback'"></app-tasks-board-in-progress-await-feedback>
            </div>
        </div>
        }
    </div>
    <div class="right-container">
        <span>{{getGreeting()}},<br><span class="user">{{firebaseAuthenticationService.getUserName()}}</span></span>
    </div>
</div>
<div class="mobile-greeting-container">
    {{getGreeting()}},<br>
    <span>{{firebaseAuthenticationService.getUserName()}}</span>
</div>