<div class="drag-and-drop-container">
    @if(firebaseDatabaseService.taskList) {
    <div id="toDoList" (cdkDropListDropped)="onDrop($event)" cdkDropList
        [cdkDropListConnectedTo]="['inProgressList', 'awaitFeedbackList', 'doneList']" class="category-container">
        @if(firebaseDatabaseService.taskList.toDo.length === 0) {
        <div class="no-tasks-feedback-container">
            No tasks to do
        </div>
        } @else {
        @for (task of firebaseDatabaseService.taskList.toDo; track $index) {
        <app-task cdkDrag [cdkDragData]="task" [task]="task"></app-task>
        }
        }
    </div>

    <div id="inProgressList" (cdkDropListDropped)="onDrop($event)" cdkDropList
        [cdkDropListConnectedTo]="['toDoList', 'awaitFeedbackList', 'doneList']" class="category-container">
        @if(firebaseDatabaseService.taskList.inProgress.length === 0) {
        <div class="no-tasks-feedback-container">
            No tasks to do
        </div>
        } @else {
        @for (task of firebaseDatabaseService.taskList.inProgress; track $index) {
        <app-task cdkDrag [cdkDragData]="task" [task]="task"></app-task>
        }
        }
    </div>

    <div id="awaitFeedbackList" (cdkDropListDropped)="onDrop($event)" cdkDropList
        [cdkDropListConnectedTo]="['toDoList', 'inProgressList', 'doneList']" class="category-container">
        @if(firebaseDatabaseService.taskList.awaitFeedback.length === 0) {
        <div class="no-tasks-feedback-container">
            No tasks to do
        </div>
        } @else {
        @for (task of firebaseDatabaseService.taskList.awaitFeedback; track $index) {
        <app-task cdkDrag [cdkDragData]="task" [task]="task"></app-task>
        }
        }
    </div>

    <div id="doneList" (cdkDropListDropped)="onDrop($event)" cdkDropList
        [cdkDropListConnectedTo]="['toDoList', 'inProgressList', 'awaitFeedbackList']" class="category-container">
        @if(firebaseDatabaseService.taskList.done.length === 0) {
        <div class="no-tasks-feedback-container">
            No tasks to do
        </div>
        } @else {
        @for (task of firebaseDatabaseService.taskList.done; track $index) {
        <app-task cdkDrag [cdkDragData]="task" [task]="task"></app-task>
        }
        }
    </div>
    }
</div>