<div class="drag-and-drop-container">
    <div class="category-container to-do-container">
        @if(boardService.toDo().length === 0) {
        <div class="no-tasks-feedback-container">
            No tasks To do
        </div>
        } @else {
        @for (task of boardService.toDo(); track $index) {
        <app-task [task]="task"></app-task>
        }
        }
    </div>
    <div class="category-container in-progress-container">
        @if(boardService.inProgress().length === 0) {
        <div class="no-tasks-feedback-container">
            No tasks To do
        </div>
        } @else {
        @for (task of boardService.inProgress(); track $index) {
        <app-task [task]="task"></app-task>
        }
        }
    </div>
    <div class="category-container await-feedback-container">
        @if(boardService.awaitFeedback().length === 0) {
        <div class="no-tasks-feedback-container">
            No tasks To do
        </div>
        } @else {
        @for (task of boardService.awaitFeedback(); track $index) {
        <app-task [task]="task"></app-task>
        }
        }
    </div>
    <div class="category-container done-container">
        @if(boardService.done().length === 0) {
        <div class="no-tasks-feedback-container">
            No tasks To do
        </div>
        } @else {
        @for (task of boardService.done(); track $index) {
        <app-task [task]="task"></app-task>
        }
        }
    </div>
</div>