@import './../../../../styles/colors.scss';
@import './../../../../styles/mixins.scss';

.contacts-data-container {
    height: 100%;
    flex: 1;
    padding: 100px 70px;
    @include display-flex(column, unset, unset, 30px);
    position: relative;

    .headline-container {

        .headline-container-mobile {
            @include display-flex(unset, unset, center, 30px);

            h2 {
                font-weight: 700;
                font-size: 61px;
                line-height: 73.2px;
            }

            span {
                font-size: 27px;
                line-height: 32.4px;
                color: $primary-color;
            }

            .stroke-container {
                width: 3px;
                height: 59px;
                background-color: $effect-color;
            }

            .stroke-container-mobile {
                display: none;
                width: 90px;
                height: 3px;
                background-color: $effect-color;
            }
        }

        svg {
            display: none
        }
    }

    .contact-data-container {
        @include display-flex(column, unset, unset, 21px);
        transform: translateX(100vw);

        .contact-data-top-container {
            @include display-flex(unset, unset, center, 54px);

            .contact-big-icon {
                width: 120px;
                height: 120px;
                border: 3px solid #FFFFFF;
                border-radius: 70px;
                @include display-flex(unset, center, center, unset);
                color: $secondary-color;
                font-weight: 500;
                font-size: 47px;
                line-height: 56.4px;
            }

            .contact-data-edit-delete-container {
                @include display-flex(column, unset, unset, 8px);

                span {
                    font-weight: 500;
                    font-size: 47px;
                    line-height: 56.4px;
                }

                .edit-delete-container {
                    @include display-flex(unset, unset, center, 16px);

                    div {
                        @include display-flex(unset, unset, center, 8px);
                        cursor: pointer;

                        &:first-child {
                            width: 65px;
                        }

                        &:last-child {
                            width: 85px;
                        }

                        &:hover {
                            font-weight: 700;
                            color: $effect-color;
                        }

                        &:hover svg path {
                            fill: $effect-color;
                        }
                    }
                }
            }
        }

        .contact-information {
            padding: 29.5px 0;
            font-size: 20px;
            line-height: 24px;
        }

        .contact-data-bottom-container {
            @include display-flex(column, unset, unset, 18px);

            span {
                font-size: 16px;
                line-height: 19.2px;

                &:nth-child(1),
                &:nth-child(3) {
                    font-weight: 700;
                }

                &:nth-child(2) {
                    color: #007CEE;
                }
            }
        }
    }

    .add-contact-container {
        width: 326px;
        height: 74px;
        position: absolute;
        bottom: 110px;
        left: 70px;
        background-color: $primary-color;
        color: $secondary-color;
        @include display-flex(unset, center, center, unset);
        margin-top: 120px;
        padding: 25px;
        border: unset;
        border-radius: 20px;
        box-shadow: 0px 0px 4px 0px #0000001A;
        font-size: 20px;
        line-height: 24px;
        transform: translateX(100vw);
    }
}

.edit-icon-container {
    display: none;
    position: absolute;
    bottom: 50px;
    right: 20px;
    width: 100%;
}

.edit-delete-container-mobile {
    display: none;
    width: 116px;
    height: 100px;
    position: absolute;
    right: 10px;
    bottom: 50px;
    border-radius: 20px 20px 0 20px;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 4px 4px 0px #00000040;
    animation: slideFromRightToLeft 0.1s ease-out forwards;

    div {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 8px;

    }
}

.show-animation {
    animation: slideFromRightToLeft 0.3s ease-out 0.1s forwards;
}

.show-animation-back {
    animation: slideFromLeftToRight 1s ease-out forwards;
}

@media(max-width: 1350px) {
    .contacts-data-container {

        .headline-container {

            h2 {
                font-size: 52px;
            }
        }

        .contact-data-container {

            .contact-data-top-container {
                gap: 10px;

                .contact-data-edit-delete-container {

                    span {
                        font-size: 32px;
                    }
                }
            }
        }
    }
}

@media(max-width: 1080px) {
    .contacts-data-container {
        padding: 100px 20px;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 0;
        }

        .add-contact-container {
            left: 20px;
        }
    }
}

@media(max-width: 800px) {
    .contacts-data-container {
        display: none;
        padding-top: 40px;

        .headline-container {
            @include display-flex(unset, space-between, start, unset);

            .headline-container-mobile {
                flex-direction: column;
                align-items: unset;
                gap: 10px;

                .stroke-container {
                    display: none;
                }

                .stroke-container-mobile {
                    display: block;
                }
            }

            svg {
                display: block;
            }
        }

        .contact-data-container {
            transform: translateX(0) !important;

            .contact-information {
                padding-bottom: 0;
            }

            .contact-data-top-container {

                .contact-data-edit-delete-container {

                    span {
                        font-size: 47px;
                    }

                    .edit-delete-container {
                        display: none;
                    }
                }
            }
        }
    }

    .toggle-contacts-data-container {
        display: flex;
    }

    .edit-icon-container {
        @include display-flex(unset, flex-end, center, unset);
    }

    .edit-delete-container-mobile {
        @include display-flex(column, space-evenly, center, unset);
    }

    .show-animation {
        animation: slideFromBottomToCenter 0.5s ease-out forwards;
    }

    .show-animation-back {
        animation: slideFromBottomToCenter 1s ease-out forwards;
    }
}

@media(max-width: 550px) {
    .contacts-data-container {
        padding: 20px;

        .headline-container {

            .headline-container-mobile {

                h2 {
                    font-size: 40px;
                }
            }

            svg {
                margin-top: 14px;
            }
        }

        .contact-data-container {

            .contact-data-top-container {

                .contact-big-icon {
                    width: 80px;
                    height: 80px;
                    font-size: 27px;
                }

                .contact-data-edit-delete-container {

                    span {
                        font-size: 23px;
                    }
                }
            }
        }
    }
}

@media(min-width: 1000px) and (max-height: 740px) {
    .contacts-data-container {
        padding: 10px 20px;
        gap: 10px;

        .contact-data-container {

            .contact-information {
                padding: 0;
            }
        }
    }
}