@import './../../styles/colors.scss';
@import './../../styles/mixins.scss';

.authentication-background-container {
    width: 100%;
    height: 100%;
    background-color: $background-color;
    margin: 0 auto;
    @include display-flex(unset, center, center, unset);
}

.authentication-container {
    max-width: 1440px;
    width: 100%;
    height: 100%;
    padding: 100px 100px 50px 100px;
    position: relative;
    @include display-flex(column, space-between, center, unset);
}

.top-container {
    width: 100%;
    @include display-flex(unset, flex-end, unset, unset);
}

.bottom-container {
    width: 100%;
    @include display-flex(unset, center, center, 10px);

    span {
        width: 128px;
        padding: 8px;
        color: $grey-color;
        line-height: 19.2px;
        cursor: pointer;

        &:hover {
            font-weight: 700;
            color: $effect-color;
        }
    }
}

.start-logo-animation {
    position: absolute;
    width: 100px;
    height: 122px;
    top: 100px;
    left: 100px;
    z-index: 1;
    transform: translate(0, 0);
}

.logo-animation {
    position: absolute;
    width: 274px;
    height: 334px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: moveAndShrinkFromCenterToTopLeft 0.4s ease-in 1s forwards;
}

.start-fade-in-animation {
    opacity: 1;
}

.fade-in-animation {
    opacity: 0;
    animation: fadeIn 0.4s ease-in 1s forwards;
}

.big-screen {
    display: flex;
}

.small-screen {
    display: none;
}

@media(max-width: 800px) and (min-height: 1024px) {
    .start-logo-animation {
        top: 50px;
    }

    .logo-animation {
        width: 274px;
        height: 334px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: moveAndShrinkFromCenterToTopLeftMobile 0.4s ease-in 1s forwards;
    }
}

@media(max-width: 700px) {
    .authentication-container {
        justify-content: flex-end;
    }

    .bottom-container {
        padding-top: 10px;
    }

    .start-logo-animation {
        width: 64px;
        height: 78px;
        left: calc(264px / 1440px * 100%);
        right: calc(1176px / 1440px * 100%);
    }

    .logo-animation {
        width: 100px;
        height: 122px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: moveAndShrinkFromCenterToTopLeftMobile 0.4s ease-in 1s forwards;
    }

    .big-screen {
        display: none;
    }

    .small-screen {
        display: unset;
    }

    .mobile-background {
        background-color: $primary-color;
        animation: fadeBackground 0.4s ease-in 1s forwards;
    }

    .mobile-icon {
        fill: white;
        animation: fadeIcon 0.4s ease-in 1s forwards;
    }
}

@media(max-width: 600px) {
    .authentication-container {
        padding: 100px 50px 50px 50px;
    }

    .start-logo-animation {
        left: calc(164px / 1440px * 100%);
        right: calc(1276px / 1440px * 100%);
    }

    .logo-animation {
        width: 100px;
        height: 122px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: moveAndShrinkFromCenterToTopLeftMobile 0.4s ease-in 1s forwards;
    }
}

@media(max-width: 400px) {
    .bottom-container {

        span {
            font-size: 13px;
        }
    }
}

@media(max-width: 1440px) and (max-height: 768px) {
    .authentication-container {
        padding: 0px 50px 0px 50px;
    }

    .start-logo-animation {
        top: 0;
        left: calc(64px / 1440px * 100%);
        right: calc(1376px / 1440px * 100%);
    }

    .logo-animation {
        width: 274px;
        height: 334px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: moveAndShrinkFromCenterToTopLeftMobile 0.4s ease-in 1s forwards;
    }
}

@media(max-width: 700px) and (max-height: 740px) {
    .logo-animation {
        width: 100px;
        height: 120px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: moveAndShrinkFromCenterToTopLeftMobile 0.4s ease-in 1s forwards;
    }
}